body {
    border-radius: 32px;
    margin: 0;
    padding: 10px 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: rgb(68, 255, 31);
    background-color: rgb(36, 40, 42);
}

.Inner {
    background: #90a955;
    border-radius: 30px;
    margin: 16px auto;
    padding: 10px 40px;
    max-width: 1500px;
}

.Heading {
    background-color: #a7c957;
    padding: 20px;
    border-radius: 10px;
    margin: 15px auto 20px auto;
    max-width: 500px;
    text-align: center;
}

h1 {
    font-family: Arial, sans-serif;
}

.Intro {
    background-color: #4f772d;
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
    padding: 15px;
    border: 5px solid rgb(61, 61, 61);
    color: #ecf39e;
    text-align: center;
}

.Stycke1, .Stycke2, .Stycke3, .Stycke4, .Stycke5 {
    background-color: #4f772d;
    border-radius: 10px;
    max-width: 500px;
    min-width: 300px;
    padding: 15px;
    margin-top: 20px;
    border: 5px solid rgb(61, 61, 61);
    color: #f0f8cc;
    flex: 1;
    text-align: center;
}

.kodBlock1, .kodBlock2, .kodBlock3, .kodBlock4, .kodBlock5 {
    background-color: rgb(41, 41, 41);
    font-family: "Courier New", monospace;
    border-radius: 10px;
    text-align: left;
    padding: 10px 15px;
    margin-top: 20px;
    border: 5px solid rgb(61, 61, 61);
    flex: 1;
    min-width: 300px;
    max-width: 100%;
    overflow-x: auto;
}

.Introduktion, .BodyHeadParagraph, .CSSParagraph, .ImageParagraph, .HeaderParagraph {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.lang-button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #4f772d;
    color: #f5f5f5;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}
.Github {
    position: fixed;
    top: 80px;
    right: 20px;
    padding: 10px 20px;
    background-color: #4f772d;
    color: #f5f5f5;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}
code {
    color: #00f5ff;
    padding: 10px;
    border-radius: 8px;
    overflow-x: auto;
    font-family: "Courier New", monospace;
}

.HeaderExamples {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
    flex-wrap: wrap;
}

@media (max-width: 800px) {
    .Introduktion, .BodyHeadParagraph, .CSSParagraph, .ImageParagraph, .HeaderParagraph {
        flex-direction: column;
    }
    body {
        padding: 10px 2%;
    }
}

@media (max-width: 500px) {
    .Inner {
        padding: 10px 15px;
    }
}
